/*mobil view*/

.about{
    text-align: center ;
  }
 
   
  /*Tablet view*/
  @media only screen and (min-width: 768px) {
  
  }
  
  
  /*Desktop view*/
  @media only screen and (min-width: 1033px){
      .about{
        padding-top: 2%
      }
      .meSvg{
        padding-top: 5%;
        width: 35%;
      }
      .aboutMeText {
          float: left;
      }
      
  }