/*mobil view*/

.aboutContainer{
  background-image: url('../img/backAbout1.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about{
    text-align: center ;
  }

  .catcher{
    font-size: 300%;
    font-weight: 900;
    color: #7f0000
  } 
  .nameInfo{
    font-size: 220%
  }
 .hello {
   font-size: 220%;
   font-weight: 500;
   color: #ec9f05
 }

 .aboutMeText {
   margin: 10%;
   font-size: 140%;
   text-align: justify
 }

 .textCont{
  margin: 5%
}

 
   
  /*Tablet view*/
  @media only screen and (min-width: 768px) {
    .catcher{
      font-size: 500%;
    } 
    .textCont{
      margin-left: 10%
    }
  }
  
  
  /*Desktop view*/
  @media only screen and (min-width: 1033px){
      .about{
        padding-top: 2%
      }
      .meSvg{
        padding-top: 5%;
        width: 35%;
      }
      .aboutMeText {
          float: left;
      }
      
  }