/*mobil view*/

.home{
    background-image: url('../img/maindark.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    white-space: nowrap;
    text-align: center ;
    padding-top: 40%;
    color: white;
}

.imglogo{
    width: 40%;

}

.btn {
   
    display: block;
    margin: 3%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
     
}

div i {
    font-size: 200%;
    padding: 3%;
    
}
div a {
    text-decoration: none; 
    font-size: 270%
}
.arrow {
    text-align: center;
    margin: 15%;
}
.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
.slogan{
    font-size: 150%;
    font-weight: 600;
    margin: 0%
}

 
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
}


/*Tablet view*/
@media only screen and (min-width: 768px) {
    .home{
        padding-top: 30%
    }
   .btn {
       display: inline;
        margin-right: 1%;
        width: 35%
    }

    div i {
        font-size: 250%;
        margin: 1%
        
    }
    
    div a {
        font-size: 350%
    }
      
    .arrow {
        margin: 5%;
    }
    .name{
        font-size: 170%
    }
    
    .box {
        
        padding: 0px;
        margin-left: 0%;
    }
    .slogan{
        font-size: 250%;
    }
}


/*Desktop view*/
@media only screen and (min-width: 1033px){
    .home{
        text-align: left ;
        padding-top:8% 
    }
    .btn{
        width: 20%;
        margin: 0%;
        margin-right: 2%
    }
    
    div i {
        padding-right: 3%;
        padding-left: 0%;
        padding-top: 1%;
        margin: 0%
        
    }
    
    .imglogo{
        width: 15%;
        margin-left: 14%
    
    }
    
    .box {
        border-left: solid white 3px;
        padding: 10px;
        margin-left: 10%;
    }
    .slogan{
        margin: 0%
    }
}