/*mobil view*/
.App {
    background-image: url('../img/test2.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    white-space: nowrap;
   

    
  }
    
  .cont {
    margin-left:auto;
    margin-right:auto;
    /* height: 50vh; */
    padding: 10%;
    color: white;
    padding-top: 30%;
    text-align: center ;
    scroll-behavior: smooth;
    scroll-snap-type-y: mandatory;
    scroll-snap-align: center;
    
}
.welcome{
    font-size: 300%;
    font-weight: bold;
    text-shadow:
        -1px -1px 0 #9F00C5,
        1px -1px 0 #9F00C5,
        -4px 4px 0 #9F00C5,
        1px 1px 0 #0000;
}
.btn {
    margin: 8%
}
div i {
    font-size: 200%;
    padding: 3%;
    
}
div a {
    text-decoration: none; 
    font-size: 270%
}
.arrow {
    text-align: center;
    margin: 15%;
}
.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
 
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
}
.imglogo{
    width: 35%;
    margin-top: -5%;

}

/*Tablet view*/
@media only screen and (min-width: 768px) {
    .cont {
        padding-top: 15%;
        
        
    }
    .btn {
        margin: 3%
    }
    div i {
        font-size: 275%;
        padding: 1%;
        
    }
    div a {
        font-size: 300%
    }
}


/*Desktop view*/
@media only screen and (min-width: 1033px){
        
    .cont {
        padding-top: 10%;
    }
    .welcome{
        font-size: 500%;
        font-weight: bold;
        
    }
    
    .btn {
        margin: 2%
    }
    div i {
        font-size: 250%;
        padding: 1%;
        
    }
    
    div a {
        font-size: 350%
    }
    
    .text {
        font-size: 150%
    }
      
    .arrow {
        margin: 5%;
    }
    .imglogo {
        display: none;
    }
}