
nav {
    background-color: #000000ea;
    position: fixed;
}
  .logo {
    width: 6%;
  }
  .logoName {
    color: white;
    margin-top: 1%;
    margin-left: 0%;
    font-weight: 200;
  }

  .logoName span {
    color: #ffa500;
    font-weight: 800;
    font-size: 110%
  }
  
  .navbar-nav .nav-item .nav-link {
    color: white;
    font-size: 150%;
    font-weight: 400;
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    color: #ffa500;
  }

  .navbar-nav li {
    margin-right: 2%
  }
  
  ul span {
    color: white;
    font-size: 150%;
    font-weight: 400;
    margin-top: 2%
  }
  
/*Tablet view*/
@media only screen and (min-width: 768px) {
  .logoName {
    color: white;
    margin-top: 1%;
    margin-left: 1%;
    font-weight: 200
  }

  .logoName span {
    color: #ffa500;
    font-weight: 800;
    font-size: 110%
  }
}

/*Desktop view*/
@media only screen and (min-width: 1033px){}
  