.resume{
    padding-top: 2%;
    text-align: center ;
  }
.resumeImg{
    width: 65%;
    box-shadow: 2px 2px 7px #ffa600c0, 5px 5px 14px #ffa60050;
}

.downloadProjectbtn{
    margin-top: 5%;
    width: 25%;
    height: 50px;
    font-weight: 700;
    font-size: 90%
}