
.App {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    scroll-snap-type-y: mandatory;
    scroll-snap-align: left;
  }

